In [1]:
import pandas as pd
import numpy as np

In [27]:
# Excel dosyasının yolu
file_path = r"C:\Users\yenib\OneDrive\Masaüstü\ab_testing.xlsx"

# Kontrol ve test grubu verilerini ayrı sayfalardan okuma
control_group = pd.read_excel(file_path, sheet_name="Control Group")
test_group = pd.read_excel(file_path, sheet_name="Test Group")

# Verinin ilk 5 satırını göstererek kontrol edelim
print("Kontrol Grubu Verileri:")
print(control_group.head())

print("\nTest Grubu Verileri:")
print(test_group.head())

Kontrol Grubu Verileri:
      Impression        Click    Purchase      Earning
0   82529.459271  6090.077317  665.211255  2311.277143
1   98050.451926  3382.861786  315.084895  1742.806855
2   82696.023549  4167.965750  458.083738  1797.827447
3  109914.400398  4910.882240  487.090773  1696.229178
4  108457.762630  5987.655811  441.034050  1543.720179

Test Grubu Verileri:
      Impression        Click    Purchase      Earning
0  120103.503796  3216.547958  702.160346  1939.611243
1  134775.943363  3635.082422  834.054286  2929.405820
2  107806.620788  3057.143560  422.934258  2526.244877
3  116445.275526  4650.473911  429.033535  2281.428574
4  145082.516838  5201.387724  749.860442  2781.697521

In [41]:
control_group.describe()

          Impression        Click    Purchase      Earning
count      40.000000    40.000000   40.000000    40.000000
mean   101711.449068  5100.657373  550.894059  1908.568300
std     20302.157862  1329.985498  134.108201   302.917783
min     45475.942965  2189.753157  267.028943  1253.989525
25%     85726.690349  4124.304129  470.095533  1685.847205
50%     99790.701078  5001.220602  531.206307  1975.160522
75%    115212.816543  5923.803596  637.957088  2119.802784
max    147539.336329  7959.125069  801.795020  2497.295218

In [43]:
test_group.describe()

          Impression        Click    Purchase      Earning
count      40.000000    40.000000   40.000000    40.000000
mean   120512.411758  3967.549761  582.106097  2514.890733
std     18807.448712   923.095073  161.152513   282.730852
min     79033.834921  1836.629861  311.629515  1939.611243
25%    112691.970770  3376.819024  444.626828  2280.537426
50%    119291.300775  3931.359804  551.355732  2544.666107
75%    132050.578933  4660.497911  699.862360  2761.545405
max    158605.920483  6019.695079  889.910460  3171.489708

In [47]:
control_group.shape

(40, 4)

In [49]:
test_group.shape

(40, 4)

In [71]:
pip install statsmodels

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: statsmodels in c:\users\yenib\anaconda3\lib\site-packages (0.14.2)
Requirement already satisfied: numpy>=1.22.3 in c:\users\yenib\anaconda3\lib\site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\yenib\anaconda3\lib\site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\yenib\anaconda3\lib\site-packages (from statsmodels) (2.2.2)
Requirement already satisfied: patsy>=0.5.6 in c:\users\yenib\anaconda3\lib\site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in c:\users\yenib\anaconda3\lib\site-packages (from statsmodels) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yenib\anaconda3\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\yenib\anaconda3\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\yenib\anaconda3\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2023.3)
Requirement already satisfied: six in c:\users\yenib\anaconda3\lib\site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)

In [51]:
df = pd.concat([control_group, test_group], ignore_index=True)

In [53]:
df.head()

      Impression        Click    Purchase      Earning
0   82529.459271  6090.077317  665.211255  2311.277143
1   98050.451926  3382.861786  315.084895  1742.806855
2   82696.023549  4167.965750  458.083738  1797.827447
3  109914.400398  4910.882240  487.090773  1696.229178
4  108457.762630  5987.655811  441.034050  1543.720179

In [57]:
df.shape

(80, 4)

In [59]:
df.describe()

          Impression        Click    Purchase      Earning
count      80.000000    80.000000   80.000000    80.000000
mean   111111.930413  4534.103567  566.500078  2211.729516
std     21623.807747  1272.376073  148.141840   421.700575
min     45475.942965  1836.629861  267.028943  1253.989525
25%     95063.860626  3632.891835  458.137878  1945.713157
50%    114037.035002  4321.602826  532.125084  2205.536256
75%    124138.652391  5272.616062  679.557595  2541.377520
max    158605.920483  7959.125069  889.910460  3171.489708

In [78]:
# Görev 2 : A/B Testinin Hipotezinin Tanımlanması
# Adım 1: Hipotezi tanımlayınız.
# H0 : M1 = M2 
# H1 : M1!= M2

In [63]:
# Adım 2: Kontrol ve test grubu için purchase(kazanç) ortalamalarını analiz ediniz.

In [82]:
control_group["Purchase"].mean()

550.8940587702316

In [84]:
test_group["Purchase"].mean()

582.1060966484677

In [86]:
# Görev 3:  Hipotez Testinin Gerçekleştirilmesi 
# H0: Normal dağılım varsayımı sağlanmaktadır.
# H1: Normal dağılım varsayımı sağlanmamaktadır.
# p < 0.05 H0 RED , p > 0.05 H0 REDDEDİLEMEZ.
# Test sonucuna göre normallik varsayımı kontrol ve test grupları için sağlanıyor mu ? Elde edilen p-valuedeğerlerini yorumlayınız. 
# Varyans Homojenliği :
# H0: Varyanslarhomojendir.
# H1: Varyanslarhomojen Değildir.
# p < 0.05 H0 RED , p > 0.05 H0 REDDEDİLEMEZ.
# Kontrol ve test grubu için varyans homojenliğinin sağlanıp sağlanmadığını Purchase değişkeni üzerinden test ediniz. 
# Test sonucuna göre normallik varsayımı sağlanıyor mu? Elde edilen p-valuedeğerlerini yorumlayınız.

In [92]:
control_shapiro = stats.shapiro(control_group["Purchase"])
test_shapiro = stats.shapiro(test_group["Purchase"])

print("\nKontrol Grubu Shapiro-Wilk Testi:")
print(f"Statistik: {control_shapiro.statistic}, p-değeri: {control_shapiro.pvalue}")

print("\nTest Grubu Shapiro-Wilk Testi:")
print(f"Statistik: {test_shapiro.statistic}, p-değeri: {test_shapiro.pvalue}")

Kontrol Grubu Shapiro-Wilk Testi:
Statistik: 0.9772692828452955, p-değeri: 0.5891071186294093

Test Grubu Shapiro-Wilk Testi:
Statistik: 0.9589454139336723, p-değeri: 0.15413405050730578

In [94]:
# H0 REDDEDİLEMEZ.

In [98]:
levene_test = stats.levene(control_group["Purchase"], test_group["Purchase"])

print("\nLevene Testi Sonuçları:")
print(f"Statistik: {levene_test.statistic}, p-değeri: {levene_test.pvalue}")

Levene Testi Sonuçları:
Statistik: 2.6392694728747363, p-değeri: 0.10828588271874791

In [100]:
# H0 Reddedilemez.
# Varyanslar Homojendir.